/*sticky footer styles*/
/*https://v4-alpha.getbootstrap.com/examples/sticky-footer/sticky-footer.css*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
}
/*sticky footer styles*/

/*setting up portfolio flex*/
/*also positions label for link*/
#pfFlexBox {
  /*margin: 0 auto;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.pfLinks {
  margin: 10px 5px 10px 5px;
  position: relative;
}

.pfLinksImage {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.pfLinksImage:hover {
  box-shadow: 0 0 3pt 2pt #4aaaa5;
}

.pfLinksTitle {
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background-color: #4aaaa5;
  color: #ffffff;
  text-align: center;
  margin-bottom: 0;
  border-radius: 0 0 10px 10px;
}
/*setting up portfolio flex*/

body {
  background-image: url("../images/background.png");
  font-family: 'Roboto', 'Georgia', Times, Times New Roman, serif;
}

#navigation,.navbar, .navbar-default {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 40px 15px;
}

.footer {
  color: #777;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 40px 15px;
}

.pgHeader {
  color: #4aaaa5;
  margin-top: 10px;
}

.contactImgs {
  margin: 0 10px 15px 10px;
  border-radius: 50%;
}
.contactImgs:hover {
  /*https://stackoverflow.com/a/6810937*/
  box-shadow: 0 0 3pt 2pt #4aaaa5;
}

#profilepic {
  margin: 0 auto;
  border-style: groove;
  border-width: 3px;
  border-color: rgba(102, 102, 102, 0.4);
  border-radius: 50px;
  box-shadow: -5px 5px 5px #666666;
}

#content {
  padding: 10px;
  background: #ffffff;
  border-style: groove;
  border-width: 3px;
  border-color: rgba(102, 102, 102, 0.4);
  margin-bottom:20px;
  border-radius: 10px;
  box-shadow: -10px 10px 5px #666666;
}

#sidebar {
  border-radius: 10px;
  background: #ffffff;
  border-style: groove;
  border-width: 3px;
  border-color: rgba(102, 102, 102, 0.4); 
  margin-bottom: 20px;
  text-align: center;
  box-shadow: -10px 10px 5px #666666;
}

#pgName {
  background: #4aaaa5;
  color: #ffffff;
  border-radius: 40px 15px;
}

#contactform {
  padding-bottom: 20px;
}
